footer {
    padding-top: 63px;
    padding-bottom: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .left-contenth {
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            max-width: 170px;
        }

        .left-items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 250px;

            .left-item {
                display: flex;
                margin-left: 35px;
                text-decoration: none;
                color: #8794BA;
                font-size: 16px;

                &:hover {
                    color: #5e6884;
                }
            }
        }
    }

    .right-contenth {
        .right-items {
            display: flex;
            text-align: center;

            .twitter {
                margin: 0 40px;

                &:hover {
                    opacity: 0.5;
                }
            }

            .facebook, .instagram {
                
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
