header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0 75px 0;

  
     #burger, [for=burger]{
        display: none;

    }

    @media screen and (max-width: 480px) {
        #burger {
            width: 80%;
            margin: auto;
        }

        [for=burger] {
            display: block;
            position: fixed;
            width: 30px;
            text-align: center;
            right: 20px;
            top:10px;
        }
    }

    .left-contenth {
        display: flex;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            max-width: 170px;
        }

        .left-items {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 45px;

            .left-item {
                display: flex;
                margin-left: 35px;
                text-decoration: none;
                color: #8794BA;
                font-size: 16px;

                &:hover {
                    color: #5e6884;
                }
            }
        }
    }

    .right-contenth {
        .right-items {
            display: flex;
            text-align: center;
        }
    }
}
