.top {
    background-image: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    min-height: 815px;

    .advantage {
        display: flex;
        text-align: left;
        max-width: 100%;
        padding-bottom: 260px;
        flex-wrap: wrap;

        p {
            padding-top: 15px;
            padding-bottom: 35px;
        }

        .advantage-left {
            margin-right: 80px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 550px;
        }

        .advimg-wrapper {
            align-items: center;
            display: flex;
        }

        .advantage-img {
            width: 400px;
            height: 100%;
            border-radius: 32px;
        }
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    padding-top: 43px;
}
