img {
    border-radius: 30px;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.top {
    background-image: url(../img/top_bg2.png), url(../img/top_bg1.jpg);
    background-position: 902px 166px, top center;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    min-height: 1660px;

    .advantage {
        display: flex;
        text-align: left;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 260px;
        flex-wrap: wrap;

        p {
            padding-right: 15px;
            padding-top: 15px;
            padding-bottom: 35px;

            @media screen and (max-width: 768px) {
                padding-bottom: 0;
                padding-top: 0;
            }

            @media screen and (max-width: 480px) {
                padding-bottom: 25px;
                margin: 0;
            }
        }

        .advantage-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 550px;
            margin-right: 80px;

            @media screen and (max-width: 768px) {
                margin-right: 0px;
                max-width: 760px;
            }

            @media screen and (max-width: 480px) {
                padding-top: 15px;
                margin: 0;
            }
        }

        .advimg-wrapper {
            align-items: center;
            display: flex;
        }

        .advantage-img {
            max-width: 400px;
            width: 100%;
            height: auto;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            text-align: center;

            @media screen and (max-width: 480px) {
                display: none;
            }
        }

        .img_responsive {
            @media screen and (max-width: 480px) {
                height: auto;
                margin: 0 auto;
                padding-top: 10px;
            }

            @media screen and (min-width: 480px) {
                display: none;
            }
        }

        @media screen and (max-width: 1024px) {
            padding-top: 0px;
            padding-bottom: 220px;
        }

        @media screen and (max-width: 768px) {
            padding-top: 0px;
            padding-bottom: 120px;
        }

        @media screen and (max-width: 480px) {
            width: 335px;
            padding-bottom: 100px;
            padding-top: 10px;
        }
    }

    .features {
        display: flex;
        flex-wrap: wrap;
        padding-top: 43px;
        margin: 0 auto;
        padding-bottom: 130px;

        .features-top {
            max-width: 1060px;
            margin: 0 auto;

            p {
                margin: 0;
                padding-bottom: 80px;

                @media screen and (max-width: 480px) {
                    padding-bottom: 40px;
                    padding-right: 15px;
                    font-size: 14px;
                    text-align: left;
                }
            }
        }

        .features-cards {
            display: flex;
            flex-wrap: wrap;

            .features-card {
                max-width: 380px;
                margin: 0 auto;
                margin-bottom: 20px;

                @media screen and (max-width: 768px) {
                    max-width: 245px;
                }

                @media screen and (max-width: 480px) {
                    display: flex;
                    align-items: flex-start;
                    margin-bottom: 35px;
                }
            }

            img {
                border-radius: 0px;

                @media screen and (max-width: 480px) {
                    display: inline-block;
                    margin-right: 100px;
                    padding-top: 5px;
                }
            }

            .features-description {
                font-size: 16px;

                .features-title {
                    color: #172755;
                    font-weight: 700;
                    line-height: 19px;

                    @media screen and (max-width: 480px) {
                        display: inline-block;
                        font-size: 14px;
                        margin-top: 0;
                    }
                }

                .features-text {
                    @media screen and (max-width: 768px) {
                        font-size: 14px;
                        line-height: 22px;
                    }

                    @media screen and (max-width: 480px) {
                        font-size: 14px;
                    }
                }

                :nth-child(even) {
                    margin-right: 20px;
                    margin-left: 20px;

                    @media screen and (max-width: 480px) {
                        margin: 0;
                    }
                }

                @media screen and (max-width: 480px) {
                    display: inline-block;
                }
            }

            @media screen and (max-width: 480px) {
                display: inline-block;
                font-size: 14px;
                padding-bottom: 20px;
                text-align: left;
                padding-top: 30px;
            }
        }

        @media screen and (max-width: 768px) {
            padding-top: 0px;
            padding-bottom: 90px;
        }

        @media screen and (max-width: 480px) {
            padding-bottom: 15px;
        }
    }

    .infographics {
        .infographic-img {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            width: auto;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        }

        .infographic-content {
            margin: 0 auto;
            max-width: 480px;

            @media screen and (max-width: 768px) {
                max-width: 100%;
            }

            @media screen and (max-width: 480px) {
                margin-right: 0;
                max-width: 100%;
            }
        }

        h2 {
            text-align: left;
        }

        p {
            text-align: left;

            @media screen and (max-width: 480px) {
                font-size: 14px;
                margin: 0;
                margin-bottom: 30px;
            }
        }

        .infographic-wrapper {
            margin-bottom: 120px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;

            @media screen and (max-width: 1024px) {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            @media screen and (max-width: 768px) {
                justify-content: space-around;
            }

            @media screen and (max-width: 480px) {
                margin-bottom: 0;
                padding-bottom: 50px;
            }
        }

        .infographic-wrapper-reverse {
            margin-bottom: 120px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex-direction: row-reverse;

            @media screen and (max-width: 1024px) {
                display: flex;
                align-items: center;
                flex-direction: column;
            }

            @media screen and (max-width: 768px) {
                justify-content: space-around;
            }

            @media screen and (max-width: 480px) {
                margin-bottom: 50px;
            }
        }

        @media screen and (max-width: 480px) {
            margin-bottom: 0;
        }
    }
}

.bottom {
    background-image: url(../img/bottom_bg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;

    .pricing {
        padding-top: 266px;

        .pricing-write {
            max-width: 640px;
            margin: 0 auto;

            h2 {
                color: #FFFFFF;
            }

            p {
                @media screen and (max-width: 480px) {
                    font-size: 14px;
                    padding-bottom: 45px;
                }
            }
        }

        .pricing-cards {
            padding-top: 80px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-bottom: 80px;
            border-bottom: 1px solid #2A407C;

            .pricing-card {
                background-color: #0F1F4B;
                padding: 50px 60px 70px 60px;
                margin-bottom: 20px;
                border-radius: 30px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

                .title {
                    color: #FFFFFF;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    margin: 0;
                }

                .subtitle {
                    margin-top: 10px;
                    padding-bottom: 35px;
                    border-bottom: 1px solid #2A407C;
                }

                .price {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    color: #FFFFFF;
                    margin-top: 28px;
                    margin-bottom: 0;
                }

                span {
                    font-size: 16px;
                }

                .month {
                    margin: 0;
                    font-size: 16px;
                }

                @media screen and (max-width: 480px) {
                    display: none;
                }
            }

            .pricing-card1 {
                background-color: #FFFFFF;
                padding: 50px 60px 70px 60px;
                margin-bottom: 20px;
                border-radius: 30px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

                .title {
                    color: #172755;
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    margin: 0;
                }

                .subtitle {
                    margin-top: 10px;
                    padding-bottom: 35px;
                    border-bottom: 1px solid #D3D9E9;
                }

                .price {
                    font-weight: 700;
                    font-size: 30px;
                    line-height: 35px;
                    color: #172755;
                    margin-top: 28px;
                    margin-bottom: 0;
                }

                span {
                    font-size: 16px;
                }

                .month {
                    margin: 0;
                    font-size: 16px;
                }

                @media screen and (max-width: 480px) {
                    margin: 0 auto;
                    text-align: center;
                }
            }

            @media screen and (max-width: 480px) {
                padding-top: 0;
                padding-bottom: 45px;
            }
        }

        @media screen and (max-width: 480px) {
            text-align: left;
            margin: 0;
        }
    }
}
