.top {
    background-image: url(../img/top_bg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    min-height: 1660px;

    .advantage {
        display: flex;
        text-align: left;
        max-width: 100%;

        // кроссбраузер
        padding-bottom: 260px;
        flex-wrap: wrap;

        p {
            padding-top: 15px;
            padding-bottom: 35px;
        }

        .advantage-left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            max-width: 550px;
        }

        .advimg-wrapper {
            align-items: center;
            display: flex;
        }

        .advantage-img {
            margin-left: 80px;
            width: 400px;
            width: 250px;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            text-align: center;
        }
    }

    .features {
        display: flex;
        flex-wrap: wrap;
        padding-top: 43px;
        margin: 0 auto;
        padding-bottom: 130px;

        .features-top {
            max-width: 1060px;
            margin: 0 auto;

            p {
                margin: 0;
                padding-bottom: 80px;
            }
        }

        .features-cards {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            padding: 0 15px;

            .features-card {
                max-width: 380px;
                margin: 0 auto;
                margin-bottom: 20px;
            }

            .title {
                color: #172755;
                font-weight: 700;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .infographics {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 120px;

        h2 {
            text-align: left;
        }

        p {
            text-align: left;
        }

        img {
            max-width: 600px;
            border-radius: 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        }

        .automated {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // для кроссбраузерности
            // flex-wrap: wrap;
            padding-bottom: 120px;

            .automated-write {
                padding-right: 100px;
            }
        }

        .fully {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // для кроссбраузерности
            // flex-wrap: wrap;
            padding-bottom: 120px;

            .fully-write {
                padding-left: 100px;
            }
        }

        .prebuilt {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // для кроссбраузерности
            // flex-wrap: wrap;

            .prebuilt-write {
                padding-right: 100px;
            }
        }
    }
}

.bottom {
    background-image: url(../img/bottom_bg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
    min-height: 1660px;

    h2 {
        padding-top: 265px;
        color: #FFFFFF;
    }

    .pricing {
        display: flex;
        justify-content: center;

        .pricing-write {
            max-width: 620px;
        }

        .pricing-cards {
            display: flex;
            flex-wrap: wrap;

            .pricing-card {
                background-color: #0F1F4B;
               

                .title {
                    color: #FFFFFF;
                }
            }
        }
    }
}
