button {
    margin: 0 auto;
}

.signin {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: none;
    border: none;
    color: #8794BA;
}

.signup {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
