button {
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 53px;
    border-radius: 68px;

    &:hover {
        cursor: pointer;
    }
}

.signin {
    background: none;
    border: none;
    color: #8794BA;

    &:hover {
        cursor: pointer;
        border: 1px solid #465B95;
        color: #5e6884;
    }
}

.signup {
    margin-left: 5px;
    border: 1px solid #465B95;
    background: transparent;
    color: #8794BA;

    &:hover {
        color: #5e6884;
    }

    @media screen and (max-width: 480px) {
        display: none;
    }
}

.tryforfree {
    background: #EF2A82;
    border: 1px solid #EF2A82;
    color: #FFFFFF;
    padding: 15px 80px;
    text-align: left;
    margin-bottom: 20px;

    &:hover {
        opacity: 0.5;
    }

    @media screen and (max-width: 480px) {
        padding: 15px 125px;
    }
}

.order {
    margin-left: 5px;
    border: 1px solid #465B95;
    background: transparent;
    color: #FFFFFF;
    margin-top: 40px;

    &:hover {
        color: #5e6884;
    }
}

.order-center {
    margin-left: 5px;
    border: 1px solid #EF2A82;
    background: #EF2A82;
    color: #FFFFFF;
    margin-top: 40px;

    &:hover {
        color: #5e6884;
    }
}
