.layout {
    max-width: 100%;
    margin: 0 auto;
}

.layout-outer {
    max-width: 1600px;
    margin: 0 auto;
    border-color: #F8F9FF;
}

.layout-inner {
    width: 100%;
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
}
